<link rel="stylesheet" runat="server" media="screen" href="~/css/login.css" />
@{
	if(ViewBag.EmailFound != null ){
		<div class= "alert alert-danger"
		style="
				padding: 3%;
				text-align: center;
				width: 100%;
				color:red;
				background-color:hsl(0,43.48%,90.98%);
				"> 
		This Email @ViewBag.EmailFound is already used</div>
	}
}

<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form method="post" asp-controller="connection" asp-action="SignUp">
            <h1>Create Account</h1>
            <span>or use your email for registration</span>
			<input type="text" placeholder="Name" name="name" required />
			<input type="email" placeholder="Email" name="email" required />
			<input type="password" placeholder="Password" name="password" required />
			@*<input type="radio" id="choice1" name="type" value="email" />
			<label for="choice1">Teacher</label>
			<input type="radio" id="choice2" name="type" value="phone" />
			<label for="choice2">Student</label>*@
            <input type="text" placeholder="Phone Number" name="phone" required/>
            <input type="text" placeholder="Address" name="address" required/>
            <button type="Submit">Sign Up</button>
        </form>
	</div>
	<div class="form-container sign-in-container ">
		<form method="post" asp-controller="connection" asp-action="Login">
			<h1>Sign in</h1>
			<span>or use your account</span>
			<input type="email" placeholder="Email" name="Email" required/>
			<input type="password" placeholder="Password" name="Password" required />
			<button type="Submit" >Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
	<script src="~/js/login.js">	
	</script>
</div>

